<%- include('../partials/top'); %>

<h2>About IRL HTML</h2>
<p>
	IRL HTML is a web app that hosts HTML web pages created from photographs of
	HTML code. You can upload a photograph of some HTML to <a href="/new">create a new HTML page</a>!
</p>

<hr />

<h2 id="pages-heading">Pages</h2>
<ol id="pages-list" reversed>
	<% pages?.[0] && pages.forEach(function(page) { %>
	<a href="<%= `/pages/${page.slug}` %>">
		<li>
			<time><%= getReadableDate(page.date_created) %></time>:
			<span class="page-title-link"><%= page.title || `Untitled - ${page.slug}` %></span>
			<% if (page.author) { %>
				<span class="author">(By: <%= ` ${page.author}` %>)</span>
			<% } %>
		</li>
	</a>
	<% }); %>
</ol>

<%- include('../partials/bottom'); %>
