<%- include('../partials/top'); %>

<h2>New Page</h2>

<p>
	You can create a new HTML page on IRL HTML by uploading a photo or screenshot
	of your HTML here.
</p>
<details>
	<summary><h3 class="inline-header">About the OCR methods</h3></summary>
	<p>
		In my experience the LLM based OCR methods, Claude and GPT-4 tend to work
		best with handwritten text. Google Vision can also read some handwritten
		text, but doesn’t have the ability to automatically fix syntax errors. The
		prompt used for the LLM models is below.
	</p>
	<details>
		<summary>LLM Prompt</summary>
		<em><%= llmPrompt %></em>
	</details>
	<p>
		I have added $5 to both the Claude and OpenAI APIs, not sure how long it
		will last. If the project is out of credits, or you would like to contribute
		to buy more credits email me at
		<a href="mailto:<%= contactEmail %>"><%= contactEmail %></a>.
	</p>
</details>

<h3>Code of Conduct</h3>
<p class="small-text">
	All Pages uploaded to IRL HTML should be original content and not copied
	source code from another website. They should also be free of any content
	intended to upset or harass any potential viewers of IRL HTML. Any Pages that
	have the potential to cause harm, are not <strong>original</strong>, are not
	<strong>intelligible</strong>, or do not contribute positive HTML Energy will
	be <strong>removed</strong>. If you would like your page to be removed please
	email <a href="mailto:<%= contactEmail %>"><%= contactEmail %></a>.
</p>
<p class="small-text">
	A full Code of Conduct can be found on
	<a
		href="https://github.com/patrickweaver/irlhtml/blob/main/CODE_OF_CONDUCT.md"
		>GitHub</a
	>.
</p>
<details>
	<summary><h4 class="inline-header">A Note on JavaScript</h4></summary>
	<p>
		JavaScript tags will be replaced with
		<code>&lt;code style="display: none"&gt;</code> and inline event handlers
		will be removed. I wanted to keep the site fun and allow for things like
		<code>alert()</code>, but I don’t have time to make it more secure.
	</p>
</details>

<h2>Create a new HTML page</h2>
<form method="post" enctype="multipart/form-data" id="new-page-form">
	<label for="upload-button" id="image-label"
		><span aria-hidden="true">📸 </span>Image:
	</label>
	<input type="file" id="upload-button" name="html-image" />
	<label for="author">Author Name: (optional)</label>
	<input type="text" id="author" name="author" class="text-input" />
	<fieldset class="ocr-method-list">
		<legend>Select OCR method:</legend>
		<div class="radio-grid">
			<input
				type="radio"
				id="anthropic-claude"
				name="ocr-method"
				value="ANTHROPIC_CLAUDE"
			/>
			<label for="anthropic-claude">Anthropic Claude</label>
			<!--
			<input
				type="radio"
				id="open-ai-gpt-turbo"
				name="ocr-method"
				value="OPEN_AI_GPT_4_TURBO"
				disabled
			/>
			<label for="open-ai-gpt-turbo">OpenAI GPT-4 Turbo</label>
			-->
			<input
				type="radio"
				id="open-ai-gpt-4-o"
				name="ocr-method"
				value="OPEN_AI_GPT_4_O"
			/>
			<label for="open-ai-gpt-4-o">OpenAI GPT-4o</label>
			<input
				type="radio"
				id="google-vision"
				name="ocr-method"
				value="GOOGLE_VISION"
			/>
			<label for="google-vision">Google Vision</label>
			<input
				type="radio"
				id="tesseract"
				name="ocr-method"
				value="TESSERACT"
				checked
			/>
			<label for="tesseract"
				>Tesseract (local, not recommended for handwriting)</label
			>
		</div>
	</fieldset>
	<button type="submit" class="submit-button">
		<span aria-hidden="true">❇️ </span>Submit<span aria-hidden="true"> ❇️</span>
	</button>
</form>
<div id="status" style="display: none">
	<h2>Status</h2>
	<ol reversed id="status-list"></ol>
</div>

<%- include('../partials/bottom'); %>
